{% extends 'base.html.twig' %}

{% block body %}
    {# Section principale pour le formulaire de mot de passe oublié #}
    <div class="login-wrapper">
        <div class="login-container">
            {# Titre de la page #}
            <h1 class="login-title">Mot de Passe Oublié</h1>

            {# Formulaire pour demander un lien de réinitialisation de mot de passe #}
            {{ form_start(requestForm, {'attr': {'class': 'login-form'}}) }}
                {{ form_widget(requestForm) }}
                
                {# Bouton pour envoyer le lien de réinitialisation #}
                <button type="submit" class="login-button">Envoyer le Lien de Réinitialisation</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
