{% extends 'base.html.twig' %}

{% block body %}
    {# Section principale pour le formulaire d'inscription #}
    <div class="register-wrapper">
        <div class="register-container">
            {# Titre de la page d'inscription #}
            <h1 class="register-title">Inscription</h1>
            
            {# Formulaire d'inscription #}
            {{ form_start(form, {'attr': {'class': 'register-form'}}) }}
                {{ form_widget(form) }}
                
                {# Bouton pour soumettre le formulaire d'inscription #}
                <button type="submit" class="register-button">Créer un compte</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
