{% extends 'base.html.twig' %}

{% block body %}
    {# Section principale pour le formulaire de réinitialisation de mot de passe #}
    <div class="login-wrapper">
        <div class="login-container">
            {# Titre de la page #}
            <h1 class="login-title">Réinitialiser le Mot de Passe</h1>

            {# Formulaire pour saisir un nouveau mot de passe #}
            {{ form_start(resetForm, {'attr': {'class': 'login-form'}}) }}
                {{ form_widget(resetForm) }}
                
                {# Bouton pour soumettre le nouveau mot de passe #}
                <button type="submit" class="login-button">Réinitialiser</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
